{% extends '/admin/layout.html.twig' %}

{% block main %}
	<div class="container-admin">
		<h2>Messages envoyés</h2>
		<div class="messages-admin">
			{% if messages %}
				{% for message in messages %}
					<div class="show-msg-admin">
						<p>Date : 06/06/2049</p>
						<p>Contact :
							{{ message.email }}</p>
						<a href="{{ path('admin_message_show', {'id': message.id}) }}" class="msg-btn">Lire</a>
						{{ include('message/_form-delete.html.twig') }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
