{% extends 'layoutAll.html.twig' %}

{% block main %}
	<main class="login-main login-main--contact edit-main">
		{% include '/pack/_form.html.twig' %}
		<div class="contact-container">
			<h1>Modifier un forfait</h1>
			<div class="contact-infos">
				<a href="{{ path('admin_pack') }}" class="msg-btn">back to list</a>
			</div>
		</div>
	</main>
{% endblock %}
