{% extends 'layoutAll.html.twig' %}

{% block main %}
	<main class="login-main login-main--contact">
		{% include 'pack/_form.html.twig' %}
		<a href="{{ path('admin_pack') }}" class="msg-btn">back to list</a>
	</main>
{% endblock %}
