
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    background-image: url(/assets/images/photos/garage.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 50% 84%, 0 100%, 0 0);
    transition: all .8s ease;
}
.header-off {
    height: 70px;
}

.header-on {
    background-image: none;
    background-color: white;
    clip-path: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.header-on .title-bando{
    top: 0;
    margin: auto 0;
    color: #234187;
}

.menu {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
}

.menu-top {
    align-items: center;
}

.title-bando {
    position: relative;
    top: .5rem;
    font-size: 2.6rem;
    color: white;
    text-decoration: none;
    transition: .3s ease;
}

.date-bando {
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 1.8rem;
    font-style: italic;
    color: white;
}

.date-bando-off {
    display: none;
}

.date-bando span {
    color: #234187;
    font-style: italic;
    font-weight: bold;
}

nav {
    width: 50%;
    height: 100%;
}

.nav-off {
    display: none;
}

ul {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.home-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 60px;
}

.button {
    height: 70px;
    width: 70px;
    margin: auto;
    z-index: 15;
    transform: translateY(0);
    transition: transform .7s ease;
}

.button:hover {
    transform: scale(1.1);
}

.button img {
    height: 70px;
    width: 70px;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .6);
    border-radius: 90px;
}

.button-off {
    display: none;
}

.button-active {
    transform: translateY(-450px);
    animation: ease .7s buttonOff;
}

@keyframes buttonOff {
    0% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(.4);
    }
}

@media screen and (max-width:992px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .title-bando {
        align-self: flex-start;
    }

    .header-on .title-bando {
        font-size: 1.8rem;
        top: 1rem;
    }

    nav {
        width: 80%
    }

}

/* ------------- */

.header-all {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.menu.menu-all {
    width: 90%;
    margin: auto;
}