.login-main {
    display: flex;
    justify-content: center;
    min-height: 650px;
    width: 100%;
    background-color: $third-color;
}

.login-section {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: auto;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 45%;
        height: 350px;
        margin: auto;
        border: 2px solid $first-color;
        background-color: $third-color;
    }

    .login-folder {
        position: absolute;
        top: -1rem;
        left: -.15rem;
        height: 1rem;
        width: 3rem;
        background-color: $first-color;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 300px;
}

.login-label {
    width: 17rem;
}

.login-input {
    width: 17rem;
    height: 2.5rem;
    padding-left: .5rem;
    border: none;
    border-radius: 45px;
    box-shadow: 2px 4px 8px rgba($color: #000000, $alpha: 0.2);
}

.login-submit {
    width: 12rem;
    height: 2.5rem;
    border: none;
    border-radius: 45px;
    font-size: 1.2rem;
    color: $fourth-color;
    background-color: $first-color;
    box-shadow: 2px 4px 8px rgba($color: #000000, $alpha: 0.2);
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.login-submit:hover {
    color: $first-color;
    background-color: $fourth-color;
}

@media screen and (max-width: 768px) {
    .login-section {


        div {
            width: 90%;
        }
    }
}