<footer>
	<div class="footer-all">
		<a class="footer-title"href="/admin">Dupont Carrosserie</a>
		<address>18 boulevard Guillet Maillet 17100 Saintes</address>
		<div></div>
		<ul class="footer-list">
			<li>
				<a href="/">Accueil</a>
			</li>
			<li>
				<a href="/service">Services</a>
			</li>
			<li>
				<a href="/pack">Forfaits</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</div>
</footer>
