<header class="header-all header-on header-off">
	<div class="menu menu-all">
		<a href="/" class="title-bando">Dupont carrosserie</a>
		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/service">Services</a></li>
				<li><a href="/pack">Forfaits</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
